* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --avocado:#5C8001;
    --citrine :#F3DE2C;
    --orange : #FB6107;
    --apple : #7CB518;

}

@font-face {
    font-family: 'Handelson';
    src: url('../fonts/FontsFree-Net-Handelson.ttf');
}

header {
    background-color: var(--avocado);
    display: flex;
    align-items: center;
}

.logo {
    width: 7rem;
}