/* Commun */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'Handelson';
  src: url('../fonts/FontsFree-Net-Handelson.ttf');
}

:root {
  --avocado: #5c8001;
  --citrine: #f3de2c;
  --orange: #fb6107;
  --apple: #7cb518;
}

/* Header */
header {
  height: 100px;
  background-color: var(--avocado);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
}

.logo {
  width: 6.2rem;
  display: flex;
  align-items: center;
}


nav ul {
  list-style-type: none;
  padding-left: 20px;
  display: flex;
  gap: 30px;
  font-weight: bold;
  font-size: 18px;
  
}

nav ul :hover {
  background-color: var(--citrine);
  transition-duration: 0.2s;
}

nav li {
  padding: 10px;

}



nav a {
  text-decoration: none;
  color: black;
}

main {
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Map */
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 5px;
}

#map {
  height: 34rem;
  width: 100%;
}

.map-content {
  width: 60%;
}
.plats-listes {
  width: 35%;
  margin-top: 3rem;
  border: var(--apple) 2px solid;
  border-radius: 2rem;
  padding-bottom: .8rem;
}

.plats-listes h4 {
  text-align: center;
  background-color: var(--orange);
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  padding: .5rem 0;
}

.liste-resultat {
  padding: .3rem;
  display: flex;
  align-items: center;
}

.plat {
  width: 85%;
}

.plat-title {
  font-size: 1.4rem;
}
.note {
  width: 15%;
}

.rate {
  text-align: center;
  font-size: 3rem;
}